extends base/_layout
block head
    title Сделайте свой дом умным - с нами это легко и доступно! - МТС
block page
  section.section.key
    .container-fluid 
      .key__wrapper
        .key__content 
          h1 Сделайте свой дом умным - с нами это легко и доступно!
          p.key__description Наш магазин предлагает вам самые передовые технологии для создания умного дома, вы сможете  контролировать каждый аспект своего дома, где бы вы ни находились, с помощью вашего смартфона
          .key__footer 
            a.btn.btn_white.btn_arrow.key__btn(href="#smarthome-order")
              span Получить консультацию
              span.btn__arrow
                +use("arrow", 24, 24)
        .key__image 
          img(src="./images/pages/smarthome/key.webp", alt="Умный дом вместе с МТС")
  .space.space--default
  section#smarthome-categories.section.section--gray
    .container-fluid 
      .section__wrapper 
        h2.section__title Основные категории товаров
        .smarthome-categories__wrapper 
          ul.smarthome-cards.smarthome-cards--categories
            li.smarthome-cards__item.smarthome-cards__item--light
              a.card-smarthome.card-smarthome--light(target="_blank", href="https://shop.mts.by/smart-house/lampy-i-svetodiodnye-lenty/")
                .card-smarthome__content
                  h3.card-smarthome__title Умное освещение
                  p.card-smarthome__description Управляйте яркостью, цветом и расписанием освещения, создавайте атмосферу под настроение и экономьте энергию благодаря интеллектуальным светильникам и лампочкам.
                .card-smarthome__image.card-image 
                  .card-image--1
                    img(src="./images/pages/smarthome/categories/light-1.webp", alt="Яндекс.Лампа Е27")
                  .card-image--2
                    img(src="./images/pages/smarthome/categories/light-2.webp", alt="Яндекс.Лампа Е14")
            li.smarthome-cards__item.smarthome-cards__item--safe
              a.card-smarthome.card-smarthome--safe(target="_blank", href="https://shop.mts.by/smart-house/ip-kamery/")
                .card-smarthome__content
                  h3.card-smarthome__title Системы безопасности
                  p.card-smarthome__description Обеспечьте защиту вашему дому и семье с помощью интеллектуальных систем безопасности. От видеонаблюдения и датчиков движения до сигнализаций и умных замков - контролируйте доступ и мониторьте безопасность своего дома
                .card-smarthome__image.card-image 
                  .card-image--1
                    img(src="./images/pages/smarthome/categories/safe-1.webp", alt="IP-камера Xiaomi")
            li.smarthome-cards__item.smarthome-cards__item--kitchen
              a.card-smarthome.card-smarthome--kitchen(target="_blank", href="https://shop.mts.by/smart-house/elektrochayniki/")
                .card-smarthome__content
                  h3.card-smarthome__title Умные устройства для кухни и бытовой техники
                  p.card-smarthome__description Упростите свою жизнь и экономьте время с помощью от кофемашин и холодильников с функцией управления из приложения до умных весов и мультиварок
                .card-smarthome__image.card-image 
                  .card-image--1
                    img(src="./images/pages/smarthome/categories/kitchen-1.webp", alt="Умная Колонка с Алисой")
                  .card-image--2
                    img(src="./images/pages/smarthome/categories/kitchen-2.webp", alt="Чайник Xiaomi")
            li.smarthome-cards__item.smarthome-cards__item--intellect.smarthome-cards__item--default
              a.card-smarthome.card-smarthome--default(target="_blank", href="https://shop.mts.by/smart-house/datchiki/")
                .card-smarthome__icon 
                  +use("fingerprint", 64, 64)
                .card-smarthome__content
                  h3.card-smarthome__title Интеллектуальные системы управления
                  p.card-smarthome__description Полностью автоматизируйте управление вашим домом с помощью интеллектуальных систем управления.
            li.smarthome-cards__item.smarthome-cards__item--climat.smarthome-cards__item--default
              a.card-smarthome.card-smarthome--default(target="_blank", href="https://shop.mts.by/smart-house/uvlazhniteli-vozdukha/")
                .card-smarthome__icon 
                  +use("heartsun", 64, 64)
                .card-smarthome__content
                  h3.card-smarthome__title Умный климат-контроль
                  p.card-smarthome__description Регулируйте температуру, влажность и вентиляцию, чтобы обеспечить комфортное пребывание в любое время года.
            li.smarthome-cards__item.smarthome-cards__item--black
              a.card-smarthome.card-smarthome--black(target="_blank", href="https://shop.mts.by/smart-house/")
                .card-smarthome__icon 
                  +use("apps", 64, 64)
                .card-smarthome__content
                  p.card-smarthome__description Это лишь малая часть ассортимента умных устройств, доступных в нашем магазине
  .space.space--default
  section#smarthome-examples.section.smart.section-default
    template#template-location
      li.smart-locs__item
        button.smart-location 
          //- Здесь в src прописываем путь до папки с фотографиями локаций
          //- В alt прописываем приставку для описания локации
          //-img(src="./images/pages/smart/locations/", alt="Примеры устройств - ")
          span.smart-location__content
            span.smart-location__title nameRu
            span.smart-location__value value
    template#template-dot
      button.smart-dots__btn.dot(data-smart-group="")
        span.dot__wrapper
          //-span.dot__bg
          span.dot__plus
          span.dot__title nameRu
    template#template-group
      li.smart-categories__item 
        button.smart-categories__btn 
            span.smart-categories__image 
              img(src="./images/pages/smart/categories/kettle.png", alt="Электрочайник")
            span.smart-categories__text Электрочайник
            span.smart-categories__arrow 
              +use("arrow-right", 24, 24)
    template#template-app-mi
      .smart-card-app 
        .smart-card-app__mock 
          img(src="./images/pages/smart/apps/mi-mock.webp", alt="Mi Home")
        .smart-card-app__header 
          .smart-card-app__logo
            img(src="./images/pages/smart/apps/mi-logo.webp", alt="Логотип Mi Home")
          h3.smart-card-app__title Приложение <br>Mi Home
        .smart-card-app__links
          a.smart-card-app__link(href="https://play.google.com/store/apps/details?id=com.xiaomi.smarthome&hl=ru&gl=US", target="_blank")
            img(src="./images/pages/smart/apps/get-google-play.svg", alt="Скачать из Google Play")
          a.smart-card-app__link(href="https://apps.apple.com/ru/app/mi-home-xiaomi-smart-home/id957323480", target="_blank")
            img(src="./images/pages/smart/apps/get-app-store.svg", alt="Скачать из AppStore")
    template#template-app-alice
      .smart-card-app.smart-block-app--alice  
        .smart-card-app__mock 
          img(src="./images/pages/smart/apps/alice-mock.webp", alt="Дом с Алисой")
        .smart-card-app__header 
          .smart-card-app__logo
            img(src="./images/pages/smart/apps/alice-logo.webp", alt="Логотип Дом с Алисой")
          h3.smart-card-app__title Приложение <br>Дом с Алисой
        .smart-card-app__links
          a.smart-card-app__link(href="https://redirect.appmetrica.yandex.com/serve/460006466196152926", target="_blank")
            img(src="./images/pages/smart/apps/get-google-play.svg", alt="Скачать из Google Play")
          a.smart-card-app__link(href="https://redirect.appmetrica.yandex.com/serve/676179246397299963", target="_blank")
            img(src="./images/pages/smart/apps/get-app-store.svg", alt="Скачать из AppStore")
    template#template-smart-card 
      .smart-card.smart-card--big
        a.smart-card__link(href="#")
        .smart-card__image 
          img(src="#", alt="#")
        .smart-card__info
          p.smart-card__title name
          .smart-card__arrow
            img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
        .share 
          .share__wrapper
            p.share__text Поделиться
            ul.share__list
              li.share__item 
                a.share__link(target="_blank", href="#", data-social="vk" title="Поделиться товаром в VK", aria-label="Поделиться товаром в VK")
                  +use('vk-logo', 40, 40)
              li.share__item 
                a.share__link(target="_blank", href="#", data-social="ok", title="Поделиться товаром в Одноклассниках", aria-label="Поделиться товаром в Одноклассниках")
                  +use('ok-logo', 40, 40)
              li.share__item 
                a.share__link(target="_blank", href="#", data-social="tg", title="Поделиться товаром в Telegram", aria-label="Поделиться товаром в Telegram")
                  +use('telegram-logo', 40, 40)
    .container-fluid 
      .smart-wrapper 
        h2.section-default__title.center.h1.anim.anim__create Примеры использования
        .smart-locs
          ul.smart-locs__list 
            //-li.smart-locs__item
              button.smart-location 
                img(src="./images/pages/smart/locations/kitchen.webp", alt="Примеры устройств для кухни")
                span.smart-location__content
                  span.smart-location__title Кухня
                  span.smart-location__value 6 примеров
        
        .overlay-good
        .smart-view 
          .smart-view__wrapper 
            //-.smart-view__viewer.smart-viewer.smart-viewer--list
            .smart-view__viewer.smart-viewer.smart-viewer--image
              .smart-view__header
                h3.smart-view__title Для животных
                .smart-view__display.tabs-icon 
                  button.tabs-icon__btn.active(data-viewmode="image") 
                    span.tabs-icon__icon
                      //-img(src="./images/default/image.svg", alt="Фото")
                    span.tabs-icon__text На фото
                  button.tabs-icon__btn(data-viewmode="list")
                    span.tabs-icon__icon 
                      //-img(src="./images/default/list.svg", alt="Список")
                    span.tabs-icon__text Списком
                p.smart-view__hint Кликните на плюс, <br>чтобы узнать подробнее
                button.smart-view__close(title="Закрыть")
              .smart-viewer__wrapper 
                #smart-viewer-image.smart-viewer__inner
                  .smart-viewer__img
                    img(src="./images/pages/smart/locations/full/kitchen.webp", alt="Кухня")
                    #target-dots.smart-dots 
                      button.smart-dots__btn.dot(data-item="")
                        span.dot__wrapper
                          //-span.dot__bg
                          span.dot__plus
                          span.dot__title Аэрофритюрница
              .smart-viewer__preview
                input#smart-viewer-preview(type="range", name="preview", min=0, max=100, aria-label="Переместить изображение")
                img(src="./images/pages/smart/locations/full/kitchen.webp", alt="Кухня")
                .smart-viewer__range
                  span.smart-viewer__handle
              .smart-categories 
                .smart-categories__wrapper
                  .smart-categories__inner
                    h3 Примеры использования 
                    .smart-categories__body
                      ul#target-groups.smart-categories__list 
                        li.smart-categories__item 
                          // Ru name - Электрочайник
                          // En name - kettle
                          //-button.smart-categories__btn 
                            span.smart-categories__image 
                              img(src="./images/pages/smart/categories/kettle.png", alt="Электрочайник")
                            span.smart-categories__text Электрочайник
                            span.smart-categories__arrow    
                              +use("arrow-right", 24, 24) 
                          //-+smart-category-btn("Электрочайник", "kettle")
                        li.smart-categories__item 
                          //-+smart-category-btn("Датчик освещения", "light-sensor")
                        li.smart-categories__item 
                          //-+smart-category-btn("Лампа светодиодная", "led-lamp")
                        li.smart-categories__item 
                          //-+smart-category-btn("Пылесос вертикальный", "upright-hoover")
                        li.smart-categories__item 
                          //-+smart-category-btn("Колонка портативная", "portable-speaker")
                        li.smart-categories__item 
                          //-+smart-category-btn("Смарт-блендер", "smart-blender")
                        li.smart-categories__item 
                          //-+smart-category-btn("Часы-термогигрометр", "thermohygrometer-clock")
                        li.smart-categories__item 
                          //-+smart-category-btn("Аэрофритюрница", "air-fryer")
              #group-popup.smart-view__popup.smart-popup
                button.swiper-control__btn.swiper-control__left.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
                  +use('swiper-arrow', 28, 28)
                button.swiper-control__btn.swiper-control__right.swiper-button.swiper-button-next(aria-label="Следующий слайд")
                  +use('swiper-arrow', 28, 28)
                .smart-popup__wrapper 
                  .smart-popup__header.smart-view__header 
                    h3.smart-view__title Аэрофритюрница
                    button.smart-view__close(title="Закрыть")
                  .smart-popup__tabs.tabs-smart   
                    .tabs__btns 
                      button.tabs__btn.active(data-smart-tabs-btn) Комбинация
                      button.tabs__btn(data-smart-tabs-btn) Описание
                  .smart-popup__body(data-smart-tabs-windows)
                    .smart-popup__window.smart-popup__combination(data-smart-tabs-window)
                      .swiper 
                        .swiper-wrapper 
                          .swiper-slide
                            a.smart-card.smart-card--big(href="#")
                              .smart-card__image 
                                img(src="./images/pages/smart/goods/xiaomi-electric-glass-kettle.webp", alt="Товар - Xiaomi Mi Smart Air Fryer Pro 4L")
                              .smart-card__info
                                p.smart-card__title Xiaomi Electric Glass Kettle
                                .smart-card__arrow
                                  img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
                            a.smart-card.smart-card--big(href="#")
                              .smart-card__image 
                                img(src="./images/pages/smart/goods/xiaomi-electric-glass-kettle.webp", alt="Товар - Xiaomi Mi Smart Air Fryer Pro 4L")
                              .smart-card__info
                                p.smart-card__title Xiaomi Electric Glass Kettle
                                .smart-card__arrow
                                  img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
                            .smart-card-app 
                              .smart-card-app__mock 
                                img(src="./images/pages/smart/apps/mi-mock.webp", alt="Mi Home")
                              .smart-card-app__header 
                                .smart-card-app__logo
                                  img(src="./images/pages/smart/apps/mi-logo.webp", alt="Логотип Mi Home")
                                h3.smart-card-app__title Mi Home
                              .smart-card-app__links
                                a.smart-card-app__link(href="https://play.google.com/store/apps/details?id=com.xiaomi.smarthome&hl=ru&gl=US", target="_blank")
                                  img(src="./images/pages/smart/apps/get-google-play.svg", alt="Скачать из Google Play")
                                a.smart-card-app__link(href="https://apps.apple.com/ru/app/mi-home-xiaomi-smart-home/id957323480", target="_blank")
                                  img(src="./images/pages/smart/apps/get-app-store.svg", alt="Скачать из AppStore")
                            .smart-card-app.smart-block-app--alice  
                              .smart-card-app__mock 
                                img(src="./images/pages/smart/apps/alice-mock.webp", alt="Дом с Алисой")
                              .smart-card-app__header 
                                .smart-card-app__logo
                                  img(src="./images/pages/smart/apps/alice-logo.webp", alt="Логотип Дом с Алисой")
                                h3.smart-card-app__title Дом с Алисой
                              .smart-card-app__links
                                a.smart-card-app__link(href="https://redirect.appmetrica.yandex.com/serve/460006466196152926", target="_blank")
                                  img(src="./images/pages/smart/apps/get-google-play.svg", alt="Скачать из Google Play")
                                a.smart-card-app__link(href="https://redirect.appmetrica.yandex.com/serve/676179246397299963", target="_blank")
                                  img(src="./images/pages/smart/apps/get-app-store.svg", alt="Скачать из AppStore")
                          .swiper-slide
                            a.smart-card.smart-card--big(href="#")
                              .smart-card__image 
                                //-img(src="", alt="")
                                img(src="./images/pages/smart/goods/xiaomi-electric-glass-kettle.webp", alt="Товар - Xiaomi Mi Smart Air Fryer Pro 4L")
                              .smart-card__info
                                p.smart-card__title Xiaomi Electric Glass Kettle
                                .smart-card__arrow
                                  img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
                            a.smart-card.smart-card--big(href="#")
                              .smart-card__image 
                                //-img(src="", alt="")
                                img(src="./images/pages/smart/goods/xiaomi-electric-glass-kettle.webp", alt="Товар - Xiaomi Mi Smart Air Fryer Pro 4L")
                              .smart-card__info
                                p.smart-card__title Xiaomi Electric Glass Kettle
                                .smart-card__arrow
                                  img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
                            .smart-card-app 
                              .smart-card-app__mock 
                                img(src="./images/pages/smart/apps/mi-mock.webp", alt="Mi Home")
                              .smart-card-app__header 
                                .smart-card-app__logo
                                  img(src="./images/pages/smart/apps/mi-logo.webp", alt="Логотип Mi Home")
                                h3.smart-card-app__title Mi Home
                              .smart-card-app__links
                                a.smart-card-app__link(href="#")
                                  img(src="./images/pages/smart/apps/get-google-play.svg", alt="Скачать из Google Play")
                                a.smart-card-app__link(href="#")
                                  img(src="./images/pages/smart/apps/get-app-store.svg", alt="Скачать из AppStore")
                    .smart-popup__window.smart-popup__description(data-smart-tabs-window) 
                      .swiper 
                        .swiper-wrapper 
                          .swiper-slide
                            a.smart-card(href="#")
                              .smart-card__image 
                                img(src="./images/pages/smart/goods/xiaomi-electric-glass-kettle.webp", alt="Товар - Xiaomi Mi Smart Air Fryer Pro 4L")
                              .smart-card__info
                                p.smart-card__title Xiaomi Mi Smart Air Fryer Pro 4L
                                .smart-card__arrow
                                  // 
                                  img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
                            .smart-popup__more 
                              ul 
                                li Оснащен прозрачной колбой из боросиликатного стекла, которое отлично выдерживает термические удары и механические повреждения, а также служит долго и является на 100% безопасным материалом.
                                li Высокая мощность в 2200Вт. 
                                li Xiaomi Electric Glass Kettle получил четырехуровневую систему защиты. Он не боится перепадов температур и напряжения в сети, а также автоматически выключается после вскипания или при отсутствии в колбе воды.
                          .swiper-slide
                          
                            a.smart-card(href="#")
                              .smart-card__image 
                                img(src="./images/pages/smart/goods/xiaomi-electric-glass-kettle.webp", alt="Товар - Xiaomi Mi Smart Air Fryer Pro 4L")
                              .smart-card__info
                                p.smart-card__title Slide2
                                .smart-card__arrow
                                  // 
                                  img(src="./images/icons/smart-arrow-angle.svg", alt="Перейти")
                            .smart-popup__more 
                              ul 
                                li Оснащен прозрачной колбой из боросиликатного стекла, которое отлично выдерживает термические удары и механические повреждения, а также служит долго и является на 100% безопасным материалом.
                                li Высокая мощность в 2200Вт. 
                                li Xiaomi Electric Glass Kettle получил четырехуровневую систему защиты. Он не боится перепадов температур и напряжения в сети, а также автоматически выключается после вскипания или при отсутствии в колбе воды.
                      //-button.swiper-control__btn.swiper-control__left
                        +use('swiper-arrow', 28, 28)
                      //-button.swiper-control__btn.swiper-control__right
                        +use('swiper-arrow', 28, 28)
                  .smart-pagination 
                    .smart-pagination__wrapper 
                      ul.smart-pagination__list 
                        li.smart-pagination__item 
                          button.smart-pagination__btn(aria-label="К примеру №1", title="К примеру №1") 
                            span 1
                        li.smart-pagination__item 
                          button.smart-pagination__btn.active(aria-label="К примеру №2", title="К примеру №2") 
                            span 2
                        li.smart-pagination__item 
                          button.smart-pagination__btn(aria-label="К примеру №3", title="К примеру №3") 
                            span 3
  .space.space--default
  section#smarthome-advantages.section.section--gray 
    .container-fluid 
      .section__wrapper 
        h2.section__title Преимущества
        .smarthome-advantages__wrapper 
          ul.smarthome-cards.smarthome-cards--advantages
            li.smarthome-cards__item.smarthome-cards__item--bg
              article.card-smarthome.card-smarthome--bg
                .card-smarthome__content
                  h3.card-smarthome__title Поддержка здорового образа жизни:
                  p.card-smarthome__description Умные устройства для умного дома могут помочь вам в поддержании здорового образа жизни. Вы получаете возможность легко отслеживать свое здоровье и принимать информированные решения для улучшения качества жизни.
                .card-smarthome__bg
                  img(src="./images/pages/smarthome/advantages/sport.webp", alt="Спортивная девушка")
            li.smarthome-cards__item.smarthome-cards__item--energy
              article.card-smarthome.card-smarthome--energy
                .card-smarthome__content
                  h3.card-smarthome__title Энергоэффективность
                  p.card-smarthome__description Благодаря возможности точного контроля и управления потреблением энергии и ресурсов, умные устройства помогают сократить расход и снизить счета за коммунальные услуги.
                .card-smarthome__image.card-image 
                  .card-image--1
                    img(src="./images/pages/smarthome/advantages/energy-1.webp", alt="Яндекс.Лампа Е27")
                  .card-image--2
                    img(src="./images/pages/smarthome/advantages/energy-2.webp", alt="Умная розетка Xiaomi")
                  .card-image--3
                    img(src="./images/pages/smarthome/advantages/energy-3.webp", alt="Умная беспроводная кнопка Яндекс")
            li.smarthome-cards__item.smarthome-cards__item--guard
              article.card-smarthome.card-smarthome--guard
                .card-smarthome__icon 
                  +use("guard", 60, 60)
                .card-smarthome__content
                  h3.card-smarthome__title Безопасность и защита
                  p.card-smarthome__description Системы безопасности для умного дома обеспечивают непрерывный мониторинг и защиту от вторжений, пожаров и других чрезвычайных ситуаций
            li.smarthome-cards__item.smarthome-cards__item--automatization
              article.card-smarthome.card-smarthome--automatization
                .card-smarthome__icon 
                  +use("automatization", 60, 60)
                .card-smarthome__content
                  h3.card-smarthome__title Автоматизация и удобство
                  p.card-smarthome__description Умные устройства позволяют автоматизировать ряд повседневных задач, таких как управление освещением, температурой и безопасностью
  .space.space--default
  section#smarthome-popular.section 
    // Секция может быть немного изменена (добавление товаров)
    .container-fluid 
      .section__wrapper 
        h2.section__title Популярные продукты
        .smarthome-popular__wrapper 
          .tabs(data-tabs-control="detail-content")
            .tabs-header 
              .tabs-header__wrapper
                button.tabs__button.active Пылесос
                button.tabs__button Камера
                button.tabs__button Чайник
                button.tabs__button Колонка
                button.tabs__button Лампочка
            .tabs__wrapper 
              .tabs__container
                .smartpopular-more 
                  .smartpopular-more__description
                    ul.smartpopular-more__list 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Удобство
                        p Легкий и компактный дизайн вертикальных пылесосов обеспечивает удобство в использовании, особенно при уборке в узких местах и под мебелью 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Многофункциональность
                        p Вертикальные пылесосы обычно поставляются с различными насадками для уборки разных поверхностей, от полов до мебели, делая их универсальным решением для домашней уборки 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Эффективная фильтрация
                        p Системы фильтрации, такие как HEPA-фильтры, обеспечивают задержку мелких частиц пыли и аллергенов, обеспечивая более чистый воздух в помещении и улучшая качество воздуха 
                  .smartpopular-more__slider 
                    .swiper 
                      .swiper-wrapper 
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/vacuum/xiaomi-g9-plus.webp", alt="Вертикальный пылесос Xiaomi Mi Vacuum Cleaner G9 Plus")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Mi Vacuum Cleaner G9 Plus
                              p.smartpopular-item__price 
                                span.color-red от <strong>33.00</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>719.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/smart-technology/xiaomi-mi-vacuum-cleaner-g9-plus/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/vacuum/xiaomi-g10-plus.webp", alt="Вертикальный пылесос Xiaomi Mi Vacuum Cleaner G10 Plus")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Mi Vacuum Cleaner G10 Plus
                              p.smartpopular-item__price 
                                span.color-red от <strong>43.00</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>899.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/smart-technology/xiaomi-mi-vacuum-cleaner-g10-plus/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/vacuum/dyson-v12.webp", alt="Вертикальный пылесос Dyson v12 Detect slim Absolute SV30")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Dyson v12 Detect slim Absolute SV30
                              p.smartpopular-item__price 
                                span.color-red от <strong>115.50</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>2 299.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/smart-technology/dyson-v12-detect-slim-absolute-sv30/") Подробнее
                      button.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
                        +use('swiper-arrow', 28, 28)
                      button.swiper-button.swiper-button-next(aria-label="Следующий слайд")
                        +use('swiper-arrow', 28, 28)
                  a.smartpopular-more__all.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/pylesosy-vertikalnye/") Посмотреть и сравнить все продукты
              .tabs__container
                .smartpopular-more 
                  .smartpopular-more__description
                    ul.smartpopular-more__list 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Безопасность
                        p IP-камеры обеспечивают наблюдение за домом в реальном времени через интернет, обеспечивая защиту от вторжений и быструю реакцию на происходящие события
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Удаленный доступ
                        p Вы можете проверять записи или видео с камеры через мобильное приложение из любой точки мира, обеспечивая удобство и спокойствие в вашем отсутствии
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Интеллектуальные функции
                        p Многие IP-камеры обладают функциями обнаружения движения и распознавания лиц, отправляя уведомления на мобильные устройства для повышения безопасности и контроля за пространством
                  .smartpopular-more__slider 
                    .swiper 
                      .swiper-wrapper 
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/cams/xiaomi.webp", alt="IP-камера Xiaomi Smart Camera C300")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Smart Camera C300
                              p.smartpopular-item__price 
                                span.color-red от <strong>8.30</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>169.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/smart-technology/xiaomi-smart-camera-c300/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/cams/xiaomi-c200.webp", alt="IP-камера Xiaomi Smart Camera C200")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Smart Camera C200
                              p.smartpopular-item__price 
                                span.color-red от <strong>6.10</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>119.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/smart-technology/xiaomi-smart-camera-c200/") Подробнее
                      button.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
                        +use('swiper-arrow', 28, 28)
                      button.swiper-button.swiper-button-next(aria-label="Следующий слайд")
                        +use('swiper-arrow', 28, 28)
                  a.smartpopular-more__all.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/ip-kamery/") Посмотреть и сравнить все продукты
              .tabs__container
                .smartpopular-more 
                  .smartpopular-more__description
                    ul.smartpopular-more__list 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Автоматизация времени
                        p Умные чайники позволяют установить время начала кипячения воды, что экономит время и обеспечивает готовность напитка к нужному моменту
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Удаленное управление
                        p Мобильное приложение позволяет включить чайник из любой точки, что обеспечивает удобство и экономию времени
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Точная настройка
                        p Некоторые модели предоставляют возможность точной настройки температуры воды для идеального заваривания чая или кофе, обеспечивая наилучший вкус напитка 
                  .smartpopular-more__slider 
                    .swiper 
                      .swiper-wrapper 
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/kettle/xiaomi-mi-smart-kettle-pro-white.webp", alt="Электрочайник Xiaomi Mi Smart Kettle Pro")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Mi Smart Kettle Pro
                              p.smartpopular-item__price 
                                span.color-red от <strong>8.30</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>169.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/xiaomi-mi-smart-kettle-pro-white/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/kettle/xiaomi-electric-kettle-2-white.webp", alt="Электрочайник Xiaomi Electric Kettle 2")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Electric Kettle 2
                              p.smartpopular-item__price 
                                span.color-red от <strong>5.70</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>109.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/xiaomi-electric-kettle-2-white/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/kettle/xiaomi-electric-glass-kettle.webp", alt="Электрочайник Xiaomi Electric Glass Kettle")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Xiaomi Electric Glass Kettle
                              p.smartpopular-item__price 
                                span.color-red от <strong>3.90</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>75.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/xiaomi-electric-glass-kettle/") Подробнее
                      button.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
                        +use('swiper-arrow', 28, 28)
                      button.swiper-button.swiper-button-next(aria-label="Следующий слайд")
                        +use('swiper-arrow', 28, 28)
                  a.smartpopular-more__all.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/elektrochayniki/") Посмотреть и сравнить все продукты
              .tabs__container
                .smartpopular-more 
                  .smartpopular-more__description
                    ul.smartpopular-more__list 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Голосовой помощник
                        p Станция Яндекс с голосовым помощником Алисой облегчает управление умным домом, вопросами, музыкой и другими задачами 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Интегрированный умный дом
                        p Устройство объединяет функции умного дома, позволяя контролировать освещение, температуру и безопасность через голосовые команды или мобильное приложение
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Персонализированный опыт
                        p Станция Яндекс предоставляет персонализированные рекомендации и информацию, адаптируясь к потребностям каждого члена семьи 
                  .smartpopular-more__slider 
                    .swiper 
                      .swiper-wrapper 
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/speaker/yandex-stantsiya-midi-s-zigbee-yndx.webp", alt="Умная колонка Yandex.Станция Миди с Zigbee")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Yandex.Станция Миди с Zigbee
                              p.smartpopular-item__price 
                                span.color-red от <strong>28.00</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>539.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/gadgets/bluetooth-speakers/yandex-stantsiya-midi-s-zigbee-yndx-00054-zelenyy/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/speaker/yandex-stantsiya-duo-maks-black.webp", alt="Умная колонка Яндекс.Станция Дуо Макс")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Яндекс.Станция Дуо Макс
                              p.smartpopular-item__price 
                                span.color-red от <strong>69.55</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>1519.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/gadgets/bluetooth-speakers/yandex-stantsiya-duo-maks-black/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/speaker/new-yandeks-stantsiya-mini-s-chasami-black.webp", alt="Умная колонка Новая Яндекс Станция Мини с часами")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Новая Яндекс Станция Мини с часами
                              p.smartpopular-item__price 
                                span.color-red от <strong>18.00</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>319.00</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/gadgets/bluetooth-speakers/new-yandeks-stantsiya-mini-s-chasami-black/") Подробнее
                      button.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
                        +use('swiper-arrow', 28, 28)
                      button.swiper-button.swiper-button-next(aria-label="Следующий слайд")
                        +use('swiper-arrow', 28, 28)
                  a.smartpopular-more__all.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/speakers/") Посмотреть и сравнить все продукты
              .tabs__container
                .smartpopular-more 
                  .smartpopular-more__description
                    ul.smartpopular-more__list 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Автоматизация
                        p Умная лампочка автоматически управляет освещением по расписанию или условиям, обеспечивая удобство и экономию энергии 
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Регулировка
                        p Вы можете легко настроить яркость и цветовую температуру, чтобы создать желаемую атмосферу в помещении
                      li.smartpopular-more__item 
                        p.smartpopular__subtitle Удаленное управление
                        p Можно управлять лампочкой удаленно через мобильное приложение или голосовые команды, что обеспечивает удобство даже находясь вдали от дома
                  .smartpopular-more__slider 
                    .swiper 
                      .swiper-wrapper 
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/lamp/yandeks-lampa-3-e27.webp", alt="Умная лампа Яндекс.Лампа 3. Е27")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Яндекс.Лампа 3. Е27
                              p.smartpopular-item__price 
                                span.color-red от <strong>1.73</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>19.03</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/sensors/yandeks-lampa-3-e27/") Подробнее
                        .swiper-slide
                          .smartpopular-item(data-good-id="example-id")
                            .smartpopular-item__image
                              img(src="./images/pages/smarthome/popular/lamp/yandeks-lampa-3-e14.webp", alt="Умная лампа Яндекс.Лампа 3. Е14")
                              button.compare(title="Добавить в сравнение", aria-label="Добавить в сравнение")
                                +use("compare", 40, 40)
                            .smartpopular-item__content
                              h3.smartpopular-item__title Яндекс.Лампа 3. Е14
                              p.smartpopular-item__price 
                                span.color-red от <strong>2.64</strong> руб./мес.
                                small При покупке в рассрочку
                              p.smartpopular-item__price 
                                span.color-black <strong>29.04</strong> руб.
                                small При разовой оплате
                              .smartpopular-item__btns 
                                button.btn.btn_black(data-popup-order) Купить
                                a.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/sensors/yandeks-lampa-3-e14/") Подробнее
                      button.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
                        +use('swiper-arrow', 28, 28)
                      button.swiper-button.swiper-button-next(aria-label="Следующий слайд")
                        +use('swiper-arrow', 28, 28)
                  a.smartpopular-more__all.btn.btn_gray(target="_blank", href="https://shop.mts.by/smart-house/lampy-i-svetodiodnye-lenty/") Посмотреть и сравнить все продукты
  .space.space--default
  section#smarthome-reviews.section 
    .container-fluid 
      .section__wrapper(data-slider-container) 
        .section__header
          h2.section__title Отзывы 
            span.color-gray (10)
          .section__controls 
            button.swiper-button.swiper-button-prev(aria-label="Предыдущий слайд")
              +use('swiper-arrow', 28, 28)
            button.swiper-button.swiper-button-next(aria-label="Следующий слайд")
              +use('swiper-arrow', 28, 28)
        .smarthome-reviews__wrapper 
          .swiper
            .swiper-wrapper 
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/male-1.webp", alt="Автор отзыва")
                      p.card__name Алексей Петров
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Лампа светодиодная Яндекс.Лампа 3. Е14
                    p.card__text Классная лампа, особенно нравится возможность управления голосом через Алису. Подходит для создания разной атмосферы в доме, подключилась без каких-либо проблем.
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/female2.webp", alt="Автор отзыва")
                      p.card__name Ольга Смирнова
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Yandex.Станция Миди
                    p.card__text Я очень довольна своей Станцией Миди! Она не только великолепно звучит, но и помогает мне с управлением всеми устройствами в доме. Очень рекомендую)
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/male-3.webp", alt="Автор отзыва")
                      p.card__name Иван Федоров
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Xiaomi Mi Smart Kettle Pro
                    p.card__text Реально удобная вещь! Могу управлять им через приложение на смартфоне, также поддерживает различные режимы заваривания. Прекрасный выбор для любителей чая!
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/female1.webp", alt="Автор отзыва")
                      p.card__name Елена Иванова
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Лампа светодиодная Яндекс.Лампа 3. Е27
                    p.card__text Лампа от Яндекса - просто находка! Легко управляется через приложение, можно регулировать яркость и цвет света. Очень удобно использовать в умном доме!
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/male-2.webp", alt="Автор отзыва")
                      p.card__name Дмитрий Козлов
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Яндекс.Станция Дуо Макс
                    p.card__text Это настоящий центр умного дома. Отличный и очень громкий звук, удобное управление голосом и с планшета, множество функций - подарок для всей семьи.
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/female3.webp", alt="Автор отзыва")
                      p.card__name Наталья Морозова
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star
                  .card__content 
                    h3.card__title Xiaomi Electric Glass Kettle
                    p.card__text Стильный стеклянный чайник. Удобное управление, быстрое вскипание и возможность регулировать температуру - все, что нужно для чайных посиделок. Немного пришлось повозиться с подключением, но разобралась. 
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/male-4.webp", alt="Автор отзыва")
                      p.card__name Сергей Новиков
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star
                  .card__content 
                    h3.card__title Xiaomi Smart Camera C200
                    p.card__text Камера Xiaomi Smart Camera C200 - хороший выбор для видеонаблюдения дома - простая установка, достойное качество изображения и удобное приложение для мониторинга за приемлемую цену.
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/female4.webp", alt="Автор отзыва")
                      p.card__name Анна Кузнецова
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Xiaomi Smart Camera C300
                    p.card__text Удивительная камера! Наблюдаю за домом из любой точки мира через мобильное приложение. Ни разу не подводила за полгода использования
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/female5.webp", alt="Автор отзыва")
                      p.card__name Екатерина Лебедева
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                  .card__content 
                    h3.card__title Xiaomi Mi Vacuum Cleaner G10 Plus
                    p.card__text Этот пылесос - настоящее волшебство! Легкий, с мощным всасыванием и легко чистить. Он сделал уборку в моем доме настоящим удовольствием!
              .swiper-slide
                article.card.card--review
                  .card__header
                    .card__author
                      .card__avatar 
                        img(src="./images/pages/smarthome/reviews/male-5.webp", alt="Автор отзыва")
                      p.card__name Максим Соколов
                    .card__score 
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star.filled
                      span.star
                  .card__content 
                    h3.card__title Dyson v12 Detect slim Absolute SV30
                    p.card__text Мощный пылесос, с легкостью справляется с любыми загрязнениями, а дополнительные насадки покрывают 100% потребностей в уборке. Цена не самая маленькая, но это бренд.
  .space.space--default
  section#smarthome-order.section 
    .container-fluid 
      .smarthome-order 
        .smarthome-order__content 
          h2.section__title Оставить заявку <br>на консультацию
          form.smarthome-order__form(action="#", method="post", id="smarthome-order-body-form") 
            //-
            label(for="client") Имя
            .wrap-input
              input#client(type="text")
            //-
            label(for="phone") Номер телефона 
              span.color-red  *
            .wrap-input
              input#phone(type="text", placeholder="+375 (XX) XXX-XX-XX", data-mask="phone", required)
            //-
            label(for="comment") Комментарий
            .wrap-input
              textarea#comment
            button.btn.btn_red(type="submit") Отправить
        .smarthome-order__image
          img(src="./images/pages/smarthome/order/women.webp", alt="Сотрудник колл-центра")
  .space.space--default.d-none.d-md-block
  .popups 
    // Попап динамический, в одиночном экземпляре, первый инпут отвечает за название, которое отправляется в форме
    .popup#popup-item
      .popup__wrapper 
        .popup__header 
          .popup__preview 
            img(src="./images/pages/smarthome/popular/cams/xiaomi.webp", alt="Товар Xiaomi Smart Camera C300", data-good-preview)
          h2.popup__title Оставить заявку на оформление 
            span(data-good-name) Xiaomi Smart Camera C300
          button.popup__close(title="Закрыть")
        .popup__body
          form.smarthome-order__form(action="#", method="post", id="smarthome-order-popup-form") 
            // В value данного инпута будет приходить название или id товара
            input#popup-id(type="text", hidden, data-good-name-input)
            //-
            label(for="popup-client") Имя
            .wrap-input
              input#popup-client(type="text")
            //-
            label(for="popup-phone") Номер телефона
              span.color-red  *
            .wrap-input
              input#popup-phone(type="text", placeholder="+375 (XX) XXX-XX-XX", data-mask="phone", required)
            //-
            label(for="popup-comment") Комментарий
            .wrap-input
              textarea#popup-comment
            button.btn.btn_red(type="submit") Отправить
    template#template-compare-item
      .compare-item 
        .compare-item__image 
          img(src="./images/pages/smarthome/popular/vacuum/xiaomi-g9-plus.webp", alt="")
        p.compare-char.compare-char--title 
          a(href="#", title="Подробнее", aria-label="Подробнее") Xiaomi Mi Vacuum Cleaner G9 Plus
        p.compare-char.compare-char--month 
          span от <strong>33.00</strong> руб./мес.
        p.compare-char.compare-char--price 
          span <strong>719</strong> руб.
        button.compare-remove 
          span.cross
          span Убрать из сравнения
    .popup#popup-compare
      .popup__wrapper 
        .popup__header 
          h2.popup__title Сравнение
          button.popup__close(title="Закрыть")
        .popup__body
          .compare-view 
            .compare-table 
              .compare-table__chars 
                .compare-item__image
                p.compare-char.compare-char--char Название товара
                p.compare-char.compare-char--char Ежемесячный платеж
                p.compare-char.compare-char--char Полная стоимость
              .compare-table__wrapper
                .compare-table__body 
                  //-.compare-item 
                    .compare-item__image 
                      img(src="./images/pages/smarthome/popular/vacuum/xiaomi-g9-plus.webp", alt="")
                    p.compare-char.compare-char--title 
                      a(href="#") Xiaomi Mi Vacuum Cleaner G9 Plus
                    p.compare-char.compare-char--month.best 
                      span от <strong>33.00</strong> руб./мес.
                    p.compare-char.compare-char--price.best
                      span <strong>719</strong> руб.
                    button.compare-remove 
                      span.cross
                      span Убрать из сравнения
                  //-.compare-item 
                    .compare-item__image 
                      img(src="./images/pages/smarthome/popular/vacuum/xiaomi-g10-plus.webp", alt="")
                    p.compare-char.compare-char--title 
                      a(href="#") Xiaomi Mi Vacuum Cleaner G9 Plus
                    p.compare-char.compare-char--month 
                      span от <strong>33.00</strong> руб./мес.
                    p.compare-char.compare-char--price 
                      span <strong>719</strong> руб.
                    button.compare-remove 
                      span.cross
                      span Убрать из сравнения
    .popup#popup-feedback
      .popup__wrapper 
        .popup__header 
          h2.popup__title Предложить идею 
          button.popup__close(title="Закрыть")
        .popup__body
          form.smarthome-order__form(action="#", method="post", id="smarthome-idea-popup-form") 
            //-
            label(for="popup-fb-name") ФИО
            .wrap-input
              input#popup-fb-name(type="text", placeholder="Например, Иванов Иван Иванович")
            //-
            label(for="popup-fb-theme") Тема
            .select 
              select#popup-fb-theme(name="popup-fb-theme") 
                option(value="Продажи") Отдел продаж
                option(value="Разработка") Отдел разработки
                option(value="Маркетинг") Отдел маркетинга
            //-.wrap-input
            .row 
              .col-12.col-md-6
                label(for="popup-fb-mail") Электронный адрес
                .wrap-input
                  input#popup-fb-mail(type="email", placeholder="example@mail.ru")
              .col-12.col-md-6
                label(for="popup-fb-phone") Номер телефона
                  span.color-red  *
                .wrap-input
                  input#popup-fb-phone(type="text", placeholder="+375 (XX) XXX-XX-XX", data-mask="phone", required)
            //-
            //-
            //-
            label(for="popup-fb-message") Сообщение
            .wrap-input
              textarea#popup-fb-message
            button.btn.btn_red(type="submit") Отправить
  // Товары для функционала умного дома
  script   
    include external/_smart-external.js