header.header.page-header
  .container-fluid
    .header__wrapper 
      a.header__logo.header__logo(href="https://mts.by")
        img(src='./images/general/logo-new.svg' alt='МТС')
      ul.header__list 
        li.header__item 
          a.header__link(href="#smarthome-categories") Категории
        li.header__item 
          a.header__link(href="#smarthome-examples") Примеры использования
        li.header__item 
          a.header__link(href="#smarthome-advantages") Преимущества
        li.header__item 
          a.header__link(href="#smarthome-popular") Популярные продукты
        li.header__item 
          a.header__link(href="#smarthome-reviews") Отзывы
        li.header__item 
          a.header__link(href="#smarthome-order") Получить консультацию
      button.header__burger(aria-label="Меню") 
        span
      a.btn.btn_red.header__cta(href="#smarthome-order") Получить консультацию
    //-.page-header__inner
      .page-header__top
        a.page-header__logo(href="https://mts.by")
          img(src='./images/general/logo-new.svg' alt='МТС')
        ul.header-links__links 
          li.header-links__item 
            a.header-links__link(href="#") Категории
          li.header-links__item 
            a.header-links__link(href="#") Примеры использования
          li.header-links__item 
            a.header-links__link(href="#") Преимущества
          li.header-links__item 
            a.header-links__link(href="#") Популярные продукты
          li.header-links__item 
            a.header-links__link(href="#") Отзывы
        .page-header__cta
          a.btn(href="#get-consultation") Получить консультацию