aside.statusbar 
  button.compare-statusbar(data-popup="popup-compare", title="Сравнение", aria-label="Сравнение")
    +use("compare", 32, 32)
    | Сравнить (
    span 2
    | )
  p.statusbar__warning Не больше 3-х
    //-span Сравнить
    
