.page-footer {
  width: 100%;
  max-width: 100%;
  overflow: hidden !important;
  display: block;
  //display: none;
  picture, img {
    border-radius: unset;
    margin: 0;
  }
  font-family: MTSSans, sans-serif;
  padding: rem(60) 0;
  background: #303138;
  color: #FFFFFF;
  ul {
    margin: 0;
    padding: 0;
    li {
      &::before {
        display: none;
      }
    }
  }
  .subscribe {
    color: $white;
    input[type="email"], input[type="text"] {
      margin-bottom: rem(12);
    }
    @include media-breakpoint-up(md) {
      width: rem(774);
    }
    &__form {
      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
    }
    .input {
      &--checkbox {
        margin-bottom: rem(10);
        //min-height: rem(32);
        &:last-child {
          margin-bottom: 0;
        }

      }
    }
    label {
      color: inherit;
      margin: 0;
    }
    &__inner {
      margin-bottom: rem(12);
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-8);
        margin-right: rem(-8);
        input[type="email"], input[type="text"] {
          width: 100%;
          margin-left: rem(8);
          margin-right: rem(8);
          margin-bottom: rem(16);
        }
        .input--checkbox {
          margin-bottom: 0;
          margin-left: rem(8);
          margin-right: rem(8);
        }
      }
    }
    &__submit {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: rem(180);
        margin-left: rem(12);
        flex-shrink: 0;
      }
    }
    &__title {
      color: inherit;
      font-size: rem(16);
      line-height: math.div(19 , 16);
      font-weight: 700;
      margin-bottom: rem(12);
      text-align: center;
      @include media-breakpoint-up(md) {
        text-align: left;
      }
      @include media-breakpoint-up(xl) {
        font-size: rem(20);
        line-height: math.div(24 , 20);
        //font-weight: 800;
      }
    }
  }
  @media (max-width: em(1360)){
    //padding: rem(40) rem(20);
    padding: rem(40) 0 rem(20);
  }
  @media (max-width: em(1199)){
    padding: rem(40) 0 rem(40);
  }
  &__title {
    color: $white;
    font-weight: 800;
    font-size: rem(24);
    line-height: math.div(29 , 24);
    @media (max-width: em(1360)){
      font-size: rem(20);
    }
  }
  &__subtitle {
    color: $white;
    font-size: rem(20);
    line-height: math.div(24 , 20);
    font-weight: 700;
    @media (max-width: em(1360)){
      font-size: rem(16);
    }
  }
  //ul, p, li, a {
  //  margin: 0;
  //  padding: 0;
  //}
  ul {
    list-style-type: none;
  }
  .container-fluid {
    max-width: rem(1530);
  }
  &__top {
    @media (max-width: em(1399)){
      justify-content: space-between;
    }
    @media (max-width: em(1199)){
      justify-content: unset;
    }
  }
  &__menu {
    @media (max-width: em(1199)){
      margin-top: rem(42);
    }
    @media (max-width: em(992)){
      margin-top: rem(30);
    }
  }
  &__middle {
    @include media-breakpoint-up(xl) {
      justify-content: space-between;
    }
  }
  &__social {
    @media (max-width: em(1199)){
      margin-top: rem(26);
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    margin-top: rem(32);
  }

  &__text {
    margin-top: rem(12);
    font-size: rem(18);
    line-height: math.div(22 , 18);
    max-width: rem(502);
    color: $white;
    @media (max-width: em(1360)){
      font-size: rem(14);
    }
  }
  &__copyright {
    font-size: rem(18);
    line-height: math.div(22 , 18);
    color: $white;
    //white-space: nowrap;
    //@media (max-width: em(1440)){
    //  white-space: inherit;
    //}
    //@media (max-width: em(1399)){
    //  text-align: center;
    //}
    @media (max-width: em(1360)){
      font-size: rem(14);
      //font-weight: 500;
      //text-align: center;
    }
    @media (max-width: em(991)){
      text-align: center;
    }
    @media (max-width: em(575)){
      padding: 0 rem(20);
    }
  }
  &__partners {
    display: flex;
    justify-content: flex-end;
    @media (max-width: em(1399)){
      margin-top: rem(20);
      justify-content: flex-start;
    }
    @media (max-width: em(991)){
      justify-content: center;
    }
  }
  &__portal-rating {
    @media (max-width: em(575)){
      margin-top: rem(42);
    }
  }

  @import './general/menu-footer';
  @import './general/apps-list';
  @import './general/social-list';
  @import './general/partner-list';
  @import './general/portal-rating';
}