// smart-gradient
// smart-color
.smart {
  margin: 0;
  @include media-breakpoint-up(xl) {
    overflow: visible !important;
    position: relative;
    z-index: 2;

  }
  img {
    margin: 0;
    border-radius: 0;
  }
  button {
    padding: 0;
    background: unset;
    border: none;
  }
  ul {
    list-style-type: none;
  }
  &-gray {
    padding: rem(20) 0;
    @include media-breakpoint-up(md) {
      padding: rem(40) 0;
    }
    @include media-breakpoint-up(xl) {
      padding: rem(60) 0;
    }
  }
  &-wrapper {
    @include media-breakpoint-up(xl) {
      //overflow-x: hidden;
      //overflow-y: visible;
    }
  }
  &-key {
    &__wrapper {
      padding: rem(8);
      min-height: rem(526);
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      overflow: hidden;
      border-radius: rem(24);
      @include media-breakpoint-up(md) {
        padding: rem(24);
      }
      @include media-breakpoint-up(xl) {
        border-radius: rem(32);
        min-height: rem(492);
      }
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
        object-fit: cover;
        width: auto;
        object-position: center;
      }
    }
    &__content {
      padding: rem(16);
      border-radius: rem(20);
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: min-content;
      row-gap: rem(16);
      margin-top: auto;
      background: $white;
      font-size: rem(16);
      line-height: math.div(19, 16);
      max-width: rem(450);
      & > * {
        margin-bottom: 0;
      }
      h1 {
        font-size: rem(20);
        line-height: math.div(24, 20);
        font-weight: 900;
        margin: 0;
        @include media-breakpoint-up(xl) {
          font-size: rem(32);
          line-height: math.div(38, 32);
        }
      }
      p {
        font-size: inherit;
        line-height: inherit;
        margin: 0;
      }
      @include media-breakpoint-up(xl) {
        row-gap: rem(24);
        font-size: rem(20);
        line-height: math.div(24, 20);
        padding: rem(40);
        border-radius: rem(24);
        p {
          font-weight: 500;
        }
      }
    }
    &-list {
      list-style-type: none;
      margin: 0;
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: min-content;
      row-gap: rem(24);
      &__item {
        display: flex;
        align-items: center;
        font-size: rem(16);
        line-height: math.div(19, 16);
        @include media-breakpoint-up(xl) {
          font-size: rem(18);
          line-height: math.div(22, 18);
          font-weight: 500;
        }
      }
      &__icon {
        width: rem(40);
        height: rem(40);
        border-radius: rem(12);
        background: $smart-gradient;
        margin-right: rem(12);
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
        }
        @include media-breakpoint-up(xl) {
          width: rem(48);
          height: rem(48);
          border-radius: rem(16);
        }
      }
      &__text {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
      }
    }
  }

  &-how {
    overflow: hidden;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    &__slider {
      overflow: visible;
      max-width: rem(1000);
      margin-right: auto;
      margin-left: 0;
      width: 100%;
      min-width: 0;
      .swiper {
        &-pagination {
          position: relative;
          z-index: 3;
          display: flex;
          justify-content: center;
          margin-top: rem(16);
          @include media-breakpoint-up(lg) {
            display: none;
          }
          &-bullet {
            width: rem(12);
            height: rem(12);
            display: block;
            border-radius: 50%;
            background: #f2f3f7;
            margin: 0 rem(6);
            transition: all 0.2s ease;
            &-active {
              background: $black;
            }
          }
        }
        &-slide {
          .box-smart {
            &__content {
              transition: all 0.5s ease;
              transform: translateY(100%);
              opacity: 0;
            }
          }
          &-active {
            .box-smart {
              &__content {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &-locs {
    @include media-breakpoint-up(xl) {
      margin-bottom: rem(28);
      margin-bottom: rem(28);
    }
    &__list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: rem(-12);
      flex-direction: row;
      margin-left: rem(-8);
      margin-right: rem(-8);
      justify-content: flex-start;
      @include media-breakpoint-up(xl) {
        padding-right: rem(240);
      }
    }
    &__item {
      width: auto;
      margin: rem(12) rem(8) 0;
    }
  }

  .smart-location {
    background: $light-gray;
    border: none;
    border-radius: rem(40);
    padding: 0;
    overflow: hidden;
    color: $black;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //@include image-ratio(343, 166);
    transition: all 0.2s ease;
    padding: rem(12) rem(20);
    &.active {
      @include media-breakpoint-up(xl) {
        background: $black;
        color: $white;
      }
    }
    img {
      display: none;
    }
    &__content {
      font-size: rem(16);
      line-height: math.div(19, 16);
      font-weight: 500;
    }
  }
  &-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.2s ease;
    .dot {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      padding: rem(3);
      min-width: rem(44);
      min-height: rem(44);
      font-weight: 500;
      font-size: rem(14);
      line-height: math.div(17, 14);
      &.reverse {
        left: unset;
        &:hover {
          .dot__title {
            //transform: translateX(-100%);
            padding-right: rem(8);
          }
        }
        .dot {
          &__wrapper {
            flex-direction: row-reverse;
          }
          &__title {
            padding-left: unset !important;
            text-align: right;
          }
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color: white, $alpha: 0.3);
        border-radius: rem(100);
        transform: scale(1);
        transition: all 0.3s ease;
      }
      &__wrapper {
        min-height: rem(36);
        min-width: rem(36);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(4);
        border-radius: rem(100);
        background: rgba($color: white, $alpha: 0.2);
        position: relative;
        padding: rem(10) rem(13);
        &::before {
          content: "";
          position: absolute;
          min-height: rem(28);
          min-width: rem(28);
          background: $white;
          width: calc(100% - rem(8));
          height: calc(100% - rem(8));
          border-radius: inherit;
        }
      }
      &__bg {
        height: rem(28);
        position: absolute;
        width: 100%;
        background: $white;
      }
      &__plus {
        position: relative;
        width: rem(12);
        height: rem(2);
        border-radius: rem(4);
        background: $smart-gradient;
        background: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        &::before {
          content: "";
          position: absolute;
          width: rem(12);
          height: rem(2);
          border-radius: rem(4);
          background: $smart-gradient;
          background: $black;
          transform: rotate(90deg);
        }
      }
      &__title {
        position: relative;
        z-index: 5;
        max-width: 0;
        color: $black;
        padding-left: rem(8);
        transition: all 0.3s ease;
        padding-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:hover {
        &::before {
          transform: scale(0.5);
        }
        .dot {
          &__title {
            max-width: rem(200);
            padding-left: rem(8);
          }
        }
      }
    }
  }

  &-popup {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: $white;
    z-index: 100;
    transition: all 0.5s ease;
    .swiper {
      &-control {
        &__btn {
          position: absolute;
          top: 50%;
          z-index: 3;
          background: $white;
          max-width: rem(48);
          max-height: rem(48);
          display: none;
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
          @include media-breakpoint-up(xl) {
            display: flex;
            transition: all 0.2s ease;
            &.swiper-button-disabled {
              opacity: 0;
              pointer-events: none;
            }
          }
        }
        &__left {
          transform: rotate(-180deg) translateY(50%);
          left: rem(12);
        }
        &__right {
          transform: translateY(-50%);
          right: rem(12);
        }
      }
    }
    &__tabs {
      margin: 0 rem(20) rem(8);
      display: flex;
      flex-shrink: 0;
      .tabs {
        &__btns {
          justify-content: center;
          display: flex;
          margin-left: rem(-6);
          margin-right: rem(-6);
        }
        &__btn {
          padding: rem(12) rem(20);
          border-radius: rem(40);
          background: $light-gray;
          transition: all .2s ease;
          color: $black;
          font-weight: 500;
          font-size: rem(16);
          line-height: math.div(19 , 16);
          margin-left: rem(6);
          margin-right: rem(6);
          &:hover {
            background: $light-gray-hover;
          }
          &.active {
            background: $black;
            color: $white;
          }
        }
      }
    }
    .tabs {
      &__btns {
        width: 100%;
        margin-right: 0;
      }
    }
    &__description {
      .smart {
        &-card {
          &__image {
            width: rem(105);
            left: rem(-2);
          }
        }
      }
    }
    @include media-breakpoint-up(xl) {
      position: relative;
      width: 35.73%;
      width: rem(600);
      left: unset;
      transform: unset;
      right: rem(24);
      top: rem(24);
      bottom: rem(24);
      position: absolute;
      border-radius: rem(24);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      bottom: unset;
      max-height: 70vh;
      height: 100%;
      //.smart-view {
      //  &__title {
      //    text-align: center !important;
      //    padding-left: rem(40);
      //  }
      //}
      .smart & {
        .smart-popup {
          &__header {
            position: relative;
            left: unset;
            top: unset;
            padding: rem(24) rem(32) rem(24);
          }
          &__tabs {
            margin-left: 32px;
            margin-right: 32px;
            margin-bottom: rem(20);
          }
        }
        .smart-view {
          &__title,
          &__close {
            display: flex;
          }
          &__title {
            text-align: center !important;
            padding-left: rem(40);
            justify-content: center;
          }
          &__close {
            width: rem(32);
            height: rem(32);
            background: unset;
            &::before,
            &::after {
              background: $wow-gray;
            }
          }
        }
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 100%;
      overflow: hidden;
    }

    &__body {
      //margin: 0 rem(20);
      flex-grow: 1;
      overflow: hidden;
      width: 200%;
      display: flex;
      transition: all 0.5s ease;
      .smart-popup {
        &__more {
          font-size: rem(18);
          line-height: math.div(22, 18);
          padding: rem(24);
          border-radius: rem(24);
          background: $light-gray;
          p,
          li {
            font-size: inherit;
            line-height: inherit;
          }
          ul {
            padding-left: rem(44);
            &:last-child {
              margin-bottom: rem(0);
            }
          }
          li {
            position: relative;
            &::before,
            &::after {
              content: "";
              display: block;
              position: absolute;
              left: rem(-44);
              top: rem(2);
              width: rem(30);
              height: rem(30);
              border-radius: 50%;
            }
            &::before {
              background: $smart-gradient;
              background: $red;
            }
            &::after {
              background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" fill="none"><path d="m1 5.667 4.507 3.862a.2.2 0 0 0 .288-.03L12.333 1" stroke="%23fff" stroke-width="2" stroke-linecap="round"/></svg>');
              background-position: center;
              background-repeat: no-repeat;
              background-size: rem(14) rem(11);
            }
          }
        }
      }
    }
    &__window {
      width: calc(50% - rem(40));
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: min-content;
      row-gap: rem(12);
      margin-left: rem(20);
      margin-right: rem(20);
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      @include media-breakpoint-up(xl) {
        margin-left: rem(32);
        margin-right: rem(32);
      }
      .swiper {
        width: 100%;
        height: 100%;
        &-slide,
        .smart-cards {
          display: grid;
          grid-template-columns: 100%;
          grid-auto-rows: min-content;
          row-gap: rem(12);
        }
        @include media-breakpoint-up(xl) {
          .smart-cards {
            grid-template-columns: 1fr 1fr;
            column-gap: rem(12);
          }
        }
      }
    }
  }
  &-pagination {
    flex-shrink: 0;
    padding: rem(20) 0 rem(18);
    margin: 0 rem(20);
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &__list {
      display: flex;
      //justify-content: center;
      align-items: center;
      padding: rem(4);
      //background: $light-gray;
      border-radius: rem(100);
      margin-left: auto;
      margin-right: auto;
      overflow-x: auto;
      transition: all 0.3s ease;
      max-height: rem(80);
      margin-left: rem(-6);
      margin-right: rem(-6);
      &.swiper-pagination-lock {
        opacity: 0;
        max-height: 0;
      }
      @include media-breakpoint-up(xl) {
        background: unset;
      }
    }
    &__item {
      margin: 0 rem(6);
      @include media-breakpoint-up(xl) {
      }
    }
    .smart-pagination__btn {
      font-size: rem(16);
      line-height: math.div(19, 16);
      font-weight: 500;
      color: $black;
      background: $light-gray;
      width: rem(40);
      height: rem(40);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      //background: transparent;
      &.swiper-pagination-bullet-active {
        background: $black;
        color: $white;
      }
      @include media-breakpoint-up(xl) {
        //width: rem(12);
        //height: rem(12);
        //background: $light-gray-hover !important;
        //&.swiper-pagination-bullet-active {
        //  background: $black !important;
        //}
        //span {
        //  display: none;
        //}
      }
    }
  }
  &-card {
    display: flex;
    overflow: hidden;
    border-radius: rem(16);
    background: $light-gray;
    padding: rem(20) rem(20) rem(20) rem(100);
    position: relative;
    transition: all 0.3s ease;
    //flex-grow: 1;
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }
    &__arrow {
      width: rem(32);
      height: rem(32);
      flex-shrink: 0;
      margin-left: rem(8);
      transition: all 0.3s ease;
      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__title {
      font-size: rem(16);
      line-height: math.div(19, 16);
      font-weight: 700;
      flex-grow: 1;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      &::after {
        color: $red;
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19 , 16);
        flex-shrink: 0;
        margin-left: rem(4);
        //right: 0;
        //position: absolute;
        @include media-breakpoint-up(md) {
          content: "shop.mts.by";

        }
        @include media-breakpoint-up(xl) {
          font-size: rem(20);
          line-height: math.div(24, 20);
        }
        .smart-card--big & {
          display: none !important;
        }
      }
    }
    &__image {
      position: absolute;
      left: rem(16);
      top: rem(20);
      width: rem(68);
      display: flex;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
    &:hover {
      background: $light-gray-hover;
      .smart-card {
        &__arrow {
          transform: rotate(41deg);
        }
      }
    }
    &--big {
      padding: rem(20);
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      .smart-card {
        &__info {
          width: 100%;
          align-items: flex-start;
        }
        &__image {
          order: 2;
          position: relative;
          width: rem(250);
          height: auto;
          //height: rem(140);
          max-width: rem(250);
          height: rem(150);
          left: unset;
          top: unset;
          img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 100%;
            object-position: top center;
          }
        }
        &__title {
          @include media-breakpoint-up(xl) {
            margin-bottom: rem(4);
          }
        }
      }
    }
  }
  &-card,
  &-block {
    &-app {
      border-radius: rem(16);
      overflow: hidden;
      background: linear-gradient(180deg, #c4cfdf 0%, #fcfbfe 100%);
      background: $light-gray;
      padding: rem(17) rem(17) rem(5) 47.46%;
      position: relative;
      min-height: rem(125);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $black;
      @include media-breakpoint-up(md) {
        padding-top: rem(18);
        padding-bottom: rem(18);
      }
      &--alice {
        background: linear-gradient(180deg, #8059f5 0%, #af5cf5 100%);
        color: $white;
      }
      &__mock {
        position: absolute;
        width: 28.35%;
        height: auto;
        top: rem(17);
        left: 11.94%;
        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
      }
      &__header {
        display: flex;
        align-items: center;
        margin-bottom: rem(8);
        &:last-child {
          margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
          margin-bottom: rem(16);
        }
      }
      &__title {
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(19, 16);
        color: inherit;
      }
      &__logo {
        width: rem(48);
        height: rem(48);
        border-radius: rem(12);
        overflow: hidden;
        margin-right: rem(8);
        img,
        svg {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
      &__links {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        row-gap: rem(8);
        @include media-breakpoint-up(md) {
          grid-template-columns: rem(120) rem(120);
          grid-template-rows: rem(40);
          column-gap: rem(8);
        }
      }
      &__link {
        display: flex;
        justify-content: center;
        height: rem(32);
        background: $black;
        border-radius: rem(8);
        min-width: rem(96);
        padding: rem(5) rem(10);
        transition: all 0.2s ease;
        img,
        svg {
          width: rem(76);
          height: rem(22);
          object-fit: contain;
        }
        &:hover {
          background: $black-black;
        }
        @include media-breakpoint-up(md) {
          height: rem(40);
          img,
          svg {
            width: rem(90);
            height: rem(30);
            object-fit: contain;
          }
        }
      }
    }
  }
  &-block {
    &-app {
      padding: rem(24) rem(24) rem(10) 47.46%;
      min-height: rem(180);
      img {
        margin: 0;
        border-radius: 0;
      }
      &__header {
        flex-direction: column;
        align-items: flex-start;
      }
      &__logo {
        margin: 0 0 rem(8) 0;
        width: rem(40);
        height: rem(40);
      }
      &__mock {
        width: 34.11%;
        left: 7%;
        top: rem(24);
      }
      @include media-breakpoint-up(xl) {
        padding: rem(48) rem(12) rem(48) 38%;
        &__header {
          flex-direction: row;
          align-items: center;
          margin-bottom: rem(24);
        }
        &__logo {
          margin: 0 rem(12) 0 0;
          width: rem(60);
          height: rem(60);
        }
        &__title {
          font-size: rem(20);
          line-height: math.div(24, 20);
        }
        &__links {
          grid-template-columns: 1fr 1fr;
          min-width: 0;
          width: 100%;
          column-gap: rem(8);
          max-width: rem(325);
        }
        &__link {
          padding: rem(9) rem(18) rem(8) rem(17);
          height: rem(53);
          img,
          svg {
            width: rem(125);
            height: rem(36);
          }
        }
        &__mock {
          width: 30%;
          left: unset;
          right: 66%;
          top: rem(47);
        }
      }
      @include media-breakpoint-up(xxl) {
        padding: rem(98) rem(12) rem(64) 43.1%;
        &__title {
          font-size: rem(24);
          line-height: math.div(29, 24);
        }
        &__mock {
          width: 25.67%;
          left: unset;
          right: 60.81%;
          top: rem(47);
          min-width: rem(195);
        }
      }
    }
  }
  &-label {
    padding: rem(4) rem(8);
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(17, 14);
    color: $white;
    background: $smart-gradient;
    border-radius: rem(8);
  }
  &-card {
    &-cat {
      background: $light-gray;
      border-radius: rem(24);
      overflow: hidden;
      padding: 0 rem(16) rem(16);
      display: flex;
      flex-direction: column;
      align-items: center;
      //min-height: rem(392);
      @include media-breakpoint-up(xl) {
        flex-direction: row;
        padding: 0 rem(32) 0 0;
        align-items: center;
        min-height: rem(392);
      }
      &__image {
        //padding: 0 rem(16);
        max-width: rem(320);
        height: rem(160);
        position: relative;
        width: 100%;
        img {
          width: 100%;
          margin: 0;
          border-radius: 0;
          object-fit: contain;
          height: auto;
          object-position: bottom;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        @include media-breakpoint-up(xl) {
          height: 100%;
          max-width: rem(392);
          min-width: rem(300);
          margin-right: rem(32);
          height: rem(392);
          max-height: rem(392);
          width: auto;
          flex-grow: 1;
          img {
            width: auto;
            height: 100%;
            object-position: right center;
            right: 0;
            left: unset;
          }
        }
      }
      &__body {
        font-size: rem(16);
        line-height: math.div(19, 16);
        color: $black;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        justify-items: start;
        row-gap: rem(12);
        padding: rem(12) 0 0;
        width: 100%;
        p,
        ul {
          font-size: inherit;
          line-height: inherit;
          margin: 0;
        }
        .btn {
          width: 100%;
        }
        @include media-breakpoint-up(xl) {
          width: auto;
          //flex-shrink: 0;
          min-width: 50%;
          max-width: 58.54%;
          justify-items: start;
          font-size: rem(18);
          line-height: math.div(22, 18);
          row-gap: rem(20);
          //flex-grow: 1;
          padding: 0;
          .btn {
            padding: rem(16) rem(24);
            width: auto;
          }
        }
      }
      &__title {
        font-weight: 800;
        font-size: rem(18);
        line-height: math.div(22, 18);
        @include media-breakpoint-up(xl) {
          font-size: rem(24);
          line-height: math.div(29, 24);
        }
      }
    }
  }
  &-solutions {
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      //overflow: hidden;
    }
    &__inner {
      width: 100%;
      overflow: hidden;
    }
    &__categories {
      display: flex;
      justify-content: flex-start;
      width: 300%;
      transition: all 0.5s ease;
    }
    &__category {
      width: 33.33%;
    }
    &__list {
      list-style-type: none;
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: min-content;
      width: 100%;
      min-width: 0;
      max-width: 100%;
      row-gap: rem(8);
      @include media-breakpoint-up(md) {
        grid-template-columns: 3fr 5fr;
        grid-auto-rows: 1fr;
        column-gap: rem(20);
      }
      @include media-breakpoint-up(xl) {
        //grid-template-columns: 25% 73.33%;
        grid-template-columns: 27fr 73fr;
        column-gap: rem(32);
        row-gap: rem(16);
        height: rem(392);
      }
    }
    &__item {
      &:first-child {
        margin-bottom: rem(4);
        @include media-breakpoint-up(md) {
          margin-bottom: unset;
          grid-row: 1 / 4;
          grid-column: 2 / 3;
        }
      }
      .smart-card {
        height: 100%;
        padding-left: rem(116);
        img {
          margin: 0;
        }
        &__image {
          top: rem(6);
          left: rem(9);
          width: rem(100);
          @include media-breakpoint-up(md) {
            top: 50%;
            transform: translateY(-50%);
            width: rem(132);
            left: rem(4);
            img {
              margin-top: rem(6);
            }
          }
          @include media-breakpoint-up(xl) {
            width: rem(140);
            img {
              margin-top: rem(15);
            }
          }
        }
        &__arrow {
          width: rem(24);
          height: rem(24);
          @include media-breakpoint-up(xl) {
            width: rem(32);
            height: rem(32);
          }
        }
        @media (min-width: em(375)) {
          padding-left: rem(120);
        }
        @include media-breakpoint-up(md) {
          padding-left: rem(140);
        }
        @include media-breakpoint-up(xl) {
          padding-left: rem(150);
        }
        &-cat {
          height: 100%;
        }
      }
    }
    .tabs-smart {
      position: relative;
      //left: 50%;
      //transform: translateX(-50%);
      width: 100%;
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      //justify-content: center;
      margin-bottom: rem(16);
      @include media-breakpoint-up(md) {
        justify-content: center;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: rem(32);
      }

      &::before,
      &::after {
        display: block;
        content: "";
        width: rem(20);
        height: 100%;
        flex-shrink: 0;
      }
      .tabs {
        &__btns {
          width: fit-content;
        }
        &__btn {
          white-space: nowrap;
          padding: rem(12) rem(20);
          flex-shrink: 0;
        }
      }
    }
    .smart {
      &-card {
        &__title {
          @include media-breakpoint-up(xl) {
            font-size: rem(20);
            line-height: math.div(24, 20);
            font-weight: 500;
          }
          //@include media-breakpoint-up(xxl) {
          //  font-size: rem(24);
          //  line-height: math.div(29 , 24);
          //}
        }
      }
    }
  }
  @import "./smart/smart-view";
  @import "./smart/smart-categories";
}
