@font-face {
  font-family: 'MTSSans';
  src: url(../fonts/MTSsans/MTSSans-Regular__W.eot);
  src: url(../fonts/MTSsans/MTSSans-Regular__W.eot?#iefix) format('embedded-opentype'), url(../fonts/MTSsans/MTSSans-Regular__W.woff2) format('woff2'), url(../fonts/MTSsans/MTSSans-Regular__W.woff) format('woff'), url(../fonts/MTSsans/MTSSans-Regular__W.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url(../fonts/MTSsans/MTSSans-Medium__W.eot);
  src: url(../fonts/MTSsans/MTSSans-Medium__W.eot?#iefix) format('embedded-opentype'), url(../fonts/MTSsans/MTSSans-Medium__W.woff2) format('woff2'), url(../fonts/MTSsans/MTSSans-Medium__W.woff) format('woff'), url(../fonts/MTSsans/MTSSans-Medium__W.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url(../fonts/MTSsans/MTSSans-Bold__W.eot);
  src: url(../fonts/MTSsans/MTSSans-Bold__W.eot?#iefix) format('embedded-opentype'), url(../fonts/MTSsans/MTSSans-Bold__W.woff2) format('woff2'), url(../fonts/MTSsans/MTSSans-Bold__W.woff) format('woff'), url(../fonts/MTSsans/MTSSans-Bold__W.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url(../fonts/MTSsans/MTSSans-Black.eot);
  src: url(../fonts/MTSsans/MTSSans-Black.eot?#iefix) format('embedded-opentype'), url(../fonts/MTSsans/MTSSans-Black.woff2) format('woff2'), url(../fonts/MTSsans/MTSSans-Black.woff) format('woff'), url(../fonts/MTSsans/MTSSans-Black.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSSans';
  src: url(../fonts/MTSsans/MTSSans-UltraWide__W.eot);
  src: url(../fonts/MTSsans/MTSSans-UltraWide__W.eot?#iefix) format('embedded-opentype'), url(../fonts/MTSsans/MTSSans-UltraWide__W.woff2) format('woff2'), url(../fonts/MTSsans/MTSSans-UltraWide__W.woff) format('woff'), url(../fonts/MTSsans/MTSSans-UltraWide__W.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'Corpid';
//  src: url(../fonts/Corpid/corpid-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Corpid/corpid-regular.woff2) format("woff2"), url(../fonts/Corpid/corpid-regular.woff) format("woff");
//  font-weight: 400;
//  font-style: normal
//}

//@font-face {
//  font-family: 'Corpid';
//  src: url(../fonts/Corpid/corpid-light.eot?#iefix) format("embedded-opentype"), url(../fonts/Corpid/corpid-light.woff2) format("woff2"), url(../fonts/Corpid/corpid-light.woff) format("woff");
//  font-weight: 300;
//  font-style: normal
//}

//@font-face {
//  font-family: 'Corpid';
//  src: url(../fonts/Corpid/corpid-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Corpid/corpid-bold.woff2) format("woff2"), url(../fonts/Corpid/corpid-bold.woff) format("woff");
//  font-weight: 700;
//  font-style: normal
//}